{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-8">
        <form action="{{url_for('edit_post', id=post.idPost)}}" method='POST'>
            {{ form.csrf_token }}
            {{ form.judul.label }}
            {{ form.judul(class='form-control', value=post.judulPost) }}
            {{ form.konten.label }}
            {{ form.konten(class='form-control', value=post.kontenPost) }}
            {{ form.kategori.label }}
            {{ form.kategori(class='form-control', value=post.kategoriPost) }}
            <input type="submit" value="Simpan">
        </form>
    </div>
</div>
{% endblock content %}

