{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Anda sedang mencari {{hasilCari}}</h3>
    </div>
</div>
<div class="row">
    <div class="col my-3">
        {% for post in cari %}
        <h5>{{post.judulPost}}</h3>
        <div class="row">
            <div class="col">
                <p class='text-truncate'>{{post.kontenPost}}</p>
                <a href="">Baca Selengkapnya</a>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock content %}